<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Id="koprodev.ezyImageViewer.Setup"
          Name="ezy Image Viewer"
          Manufacturer="koprodev"
          Version="$(var.ProductVersion)"
          Copyright="Copyright (c) 2026 koprodev"
          IconSourceFile="$(var.BundleIcon)"
          Condition="VersionNT64 AND WindowsBuildNumber &gt;= 19041"
          Compressed="yes"
          DisableModify="button">
    <BootstrapperApplication>
      <Payload Name="1042\thm.wxl" SourceFile="$(var.KoreanLocalization)" />
      <Payload Name="1042\license.rtf" SourceFile="$(var.KoreanEula)" />
      <bal:WixStandardBootstrapperApplication Theme="rtfLargeLicense"
                                               ThemeFile="$(var.ThemeFile)"
                                               LocalizationFile="$(var.BundleLocalization)"
                                               LicenseFile="$(var.EulaRtf)"
                                               LogoFile="$(var.BundleLogo)"
                                               LaunchTarget="[LaunchTargetPath]"
                                               ShowVersion="yes" />
    </BootstrapperApplication>

    <Variable Name="PerUserInstallFolder" Type="formatted"
              Value="[LocalAppDataFolder]Programs\ezy Image Viewer"
              bal:Overridable="yes" Persisted="yes" />
    <Variable Name="PerMachineInstallFolder" Type="formatted"
              Value="[ProgramFiles64Folder]ezy Image Viewer"
              bal:Overridable="yes" Persisted="yes" />
    <Variable Name="EzyDesktopShortcut" Type="numeric" Value="0"
              bal:Overridable="yes" Persisted="yes" />
    <Variable Name="EzyFileAssociations" Type="numeric" Value="1"
              bal:Overridable="yes" Persisted="no" />
    <!-- Absolute launch path per selected scope: a bare exe name relied on App Paths
         resolution from the BA process, which fails on machines without a matching view. -->
    <Variable Name="LaunchTargetPath" Type="formatted"
              Value="[PerUserInstallFolder]\ezyImageViewer.exe" />
    <SetVariable Variable="LaunchTargetPath" Type="formatted"
                 Value="[PerMachineInstallFolder]\ezyImageViewer.exe"
                 Condition="WixStdBAScope = &quot;PerMachine&quot;" />
    <Chain>
      <MsiPackage Id="PerUserPackage" SourceFile="$(var.PerUserMsi)"
                  InstallCondition="WixStdBAScope = &quot;PerUser&quot;"
                  Visible="no" Vital="yes">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[PerUserInstallFolder]" />
        <MsiProperty Name="EZY_DESKTOP_SHORTCUT" Value="[EzyDesktopShortcut]" />
        <MsiProperty Name="EZY_FILE_ASSOCIATIONS" Value="[EzyFileAssociations]" />
      </MsiPackage>
      <MsiPackage Id="PerMachinePackage" SourceFile="$(var.PerMachineMsi)"
                  InstallCondition="WixStdBAScope = &quot;PerMachine&quot;"
                  Visible="no" Vital="yes">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[PerMachineInstallFolder]" />
        <MsiProperty Name="EZY_DESKTOP_SHORTCUT" Value="[EzyDesktopShortcut]" />
        <MsiProperty Name="EZY_FILE_ASSOCIATIONS" Value="[EzyFileAssociations]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
